<!DOCTYPE html>
<html>
<body>
<div class='row' th:fragment='footer-ext'>
	<!-- footer contact -->
	<div class='col-md-4'>
		<div class='footer'>
			<div class='footer-logo'>
				<a class='logo' href='#' id='footer-logo'>
					<img src='/images/logo.png' alt=''>
				</a>
			</div>
			<p>Just send us your questions or concerns by starting a new request via email and we will give you the help you need.</p>
			<ul class='footer-contact'>
				<li><i class='fa fa-map-marker'></i> Magarpatta Pune</li>
				<li><i class='fa fa-phone'></i> +91-976-607-6617</li>
				<li><i class='fa fa-envelope'></i> <a href='#'>ecominds7@gmail.com</a></li>
			</ul>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='footer'>
			<h3 class='footer-title'>Gallery</h3>
			<ul class='footer-galery'>
				<li><a href='#'><img src='/images/gallery/Gallery1.jpg' alt=''></a></li>
				<li><a href='#'><img src='/images/gallery/Gallery2.jpg' alt=''></a></li>
				<li><a href='#'><img src='/images/gallery/Gallery3.jpg' alt=''></a></li>
				<li><a href='#'><img src='/images/gallery/Gallery4.jpg' alt=''></a></li>
				<li><a href='#'><img src='/images/gallery/Gallery5.jpg' alt=''></a></li>
				<li><a href='#'><img src='/images/gallery/Gallery6.jpg' alt=''></a></li>
			</ul>
		</div>
	</div>
	<!-- /footer galery -->

	<!-- footer newsletter -->
	<div class='col-md-4'>
		<div class='footer'>
			<h3 class='footer-title'>Newsletter</h3>
			<p>You can subscribe to our newsletter to get the updated informations or alerts whenever an new project is launched or any importannt milestones are achieved.</p>
			<div class='footer-newsletter'>
				<input class='input' type='email' placeholder='Enter your email' id='subscriberEmail'>
				<button class='primary-button' id='btnFooterSubscribe'>Subscribe</button>
			</div>
			<ul class='footer-social'>
				<li><a href='#'><i class='fa fa-github'></i></a></li>
				<li><a href='#'><i class='fa fa-twitter'></i></a></li>
				<li><a href='#'><i class='fa fa-google-plus'></i></a></li>
				<li><a href='#'><i class='fa fa-pinterest'></i></a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>